mat-table {
    margin: 30px;
    padding: 20px;
}

.mdc-data-table__table {
    min-width: fit-content;
}

::ng-deep mat-checkbox {
    &.mdc-checkbox--selected {
        .mdc-checkbox__backgroud {
            background-color: black !important;
        }
    }
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: #3f51b5;
}

.row-is-clicked {
    font-weight: bold;
}